{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
  
    <div class="container">
        <header>
            <h1>Read-book</h1>
            <h3>This is Book REVIEW Website</h3>  
        </header>
        <p class="text-center">It's free, <span class="bold-text">Click</span> to Search for books, Read and See Reviews ....</p>
            <div class="text-center">
                <a href="/search"><button class="btn">Search</button></a>
            </div>
            <br><br>
            
    </div>
    <br>    
{% endblock %}

